# Numerics-----------------------------------------

In [1]:
numeric1 = 5

print('value of numeric1 is', numeric1)
print('type of numeric1 is', type(numeric1) )

value of numeric1 is 5
type of numeric1 is <class 'int'>

In [2]:
numeric2 = -3 

print('value of numeric1 is', numeric2)
print('type of numeric2 is', type(numeric2))

value of numeric1 is -3
type of numeric2 is <class 'int'>

In [3]:
numeric3 = 0 

print('value of numeric3 is', numeric3)
print('type of numeric3 is', type(numeric3))

value of numeric3 is 0
type of numeric3 is <class 'int'>

In [4]:
num1 = int(input('Enter your number (int): '))
'''
Or num1 = input('Enter your number: ')
   num1 = int(num1)
'''

print('value of num1 is', num1)
print('type of num1 is', type(num1))

Enter your number (int):  1

value of num1 is 1
type of num1 is <class 'int'>

In [5]:
numeric1 = 5.0

print('value of numeric1 is', numeric1)
print('type of numeric1 is', type(numeric1) )

value of numeric1 is 5.0
type of numeric1 is <class 'float'>

In [6]:
numeric2 = -3.1

print('value of numeric2 is', numeric2)
print('type of numeric2 is',type(numeric2))

value of numeric2 is -3.1
type of numeric2 is <class 'float'>

In [7]:
numeric3 = 0.0

print('value of numeric3 is', numeric3)
print('type of numberic3 is', type(numeric3))

value of numeric3 is 0.0
type of numberic3 is <class 'float'>

In [8]:
real_num = float(input('Enter your number (real number): '))

print('value of real_num is', real_num)
print('type of real_num is', type(real_num))

Enter your number (real number):  1

value of real_num is 1.0
type of real_num is <class 'float'>

In [9]:
int1 = int(input('Enter your first number (int): '))
int2 = int(input('Enter your second number (int): '))

sum = int1 + int2 
minus = int1 - int2 
multiplication = int1 * int2 
division = int1 / int2
print('Sum of 2 integer is:',sum, '\ntype of result is:', type(sum))
print('Minus of 2 integer is:',minus, '\ntype of result is:', type(minus))
print('Multiplication of 2 integer is:',multiplication, '\ntype of result is:', type(multiplication))
print('Division of 2 integer is:',division, '\ntype of result is:', type(division))

Enter your first number (int):  1
Enter your second number (int):  1

Sum of 2 integer is: 2
type of result is: <class 'int'>
Minus of 2 integer is: 0
type of result is: <class 'int'>
Multiplication of 2 integer is: 1
type of result is: <class 'int'>
Division of 2 integer is: 1.0
type of result is: <class 'float'>

In [10]:
float1 = float(input('Enter your first number (real_number): '))
float2 = float(input('Enter your second number (real_number): '))

sum = float1 + float2 
minus = float1 - float2 
multiplication = float1 * float2 
division = float1 / float2

print('Sum of 2 real_number is:',sum, '\ntype of result is:', type(sum))
print('Minus of 2 real_number is:',minus, '\ntype of result is:', type(minus))
print('Multiplication of 2 real_number is:',multiplication, '\ntype of result is:', type(multiplication))
print('Division of 2 real_number is:',division, '\ntype of result is:', type(division))

Enter your first number (real_number):  1
Enter your second number (real_number):  1

Sum of 2 real_number is: 2.0
type of result is: <class 'float'>
Minus of 2 real_number is: 0.0
type of result is: <class 'float'>
Multiplication of 2 real_number is: 1.0
type of result is: <class 'float'>
Division of 2 real_number is: 1.0
type of result is: <class 'float'>

In [11]:
int1 = int(input('Enter your number (integer): '))
float1 = float(input('Enter your number (real_number): '))

sum = int1 + float1 
minus = int1 - float1
multiplication = int1 * float1 
division = int1 / float1

print('\nresult of sum:', sum)
print('type of the result is:', type(sum))
print('\nresult of minus:', minus)
print('type of the result is:', type(minus))
print('\nresult of multiplication:', multiplication)
print('type of the result is:', type(multiplication))
print('\nresult of division:', division)
print('type of the result is:', type(division))

Enter your number (integer):  1
Enter your number (real_number):  1

result of sum: 2.0
type of the result is: <class 'float'>

result of minus: 0.0
type of the result is: <class 'float'>

result of multiplication: 1.0
type of the result is: <class 'float'>

result of division: 1.0
type of the result is: <class 'float'>

In [12]:
logic1 = True 

print(logic1)
print(type(logic1))

True
<class 'bool'>

In [13]:
logic2 = False

print(logic2)
print(type(logic2))

False
<class 'bool'>

In [14]:
logic1 = True 
logic2 = False 

print(logic1 & logic2 )

False

In [15]:
logic1 = True
logic2 = False 

print(logic1 | logic2)

True

In [16]:
complex1 = 1 + 2j

In [17]:
print('value of complex1 is:', complex1)
print('type of complex1 is:', type(complex1))

value of complex1 is: (1+2j)
type of complex1 is: <class 'complex'>

In [18]:
complex1 = 1 + 2j

In [19]:
complex1.real

1.0

In [20]:
complex1 = 1 + 2j

In [21]:
complex1.imag

2.0

# String-------------------------------------

In [22]:
# 19
string1 = 'Python'

print(string1,'|', type(string1))

Python | <class 'str'>

In [23]:
# 20
string1 = 'Python'

print(string1[0])

P

In [24]:
# 21 
string1 = 'Python'

print(string1[1])

y

In [25]:
# 22
string1 = 'Python'

print(string1[-1])

n

In [26]:
# 23
string1 = 'Python'

print(string1[-2])

o

In [27]:
# 24
string1 = 'Python'

print(string1[2])
print(string1[-4])

t
t

In [28]:
# 25 
string1 = 'Python'

print(string1[3])
print(string1[-3])

h
h

In [29]:
# 26 
string1 = 'Python'

print(string1[1:4])

yth

In [30]:
# 27 
string1 = 'Python'

print(string1[2:-1])

tho

In [31]:
# 28
string1 = 'Python'

print(string1[2:])

thon

In [32]:
# 29
string1 = 'Python'

print(string1[-4:5])

tho

In [33]:
# 30 
string1 = 'Python'

print(string1[-6:5])

Pytho

In [34]:
# 31
string1 = 'Python'

print(string1[-4:-2])

th

In [35]:
# 32
message = input('Enter your message here : ')

print(f'this message long {len(message)} character.' )

Enter your message here :  a

this message long 1 character.

In [36]:
# 33 
message = input('Enter your message here : ')

'‡∏Å' in message

Enter your message here :  ad

False

In [37]:
# 34 
string1 = input('Enter your first message here : ')
string2 = input('Enter your second message here : ')

string2 in string1

Enter your first message here :  ad
Enter your second message here :  ad

True

In [38]:
# 35 
string1 = input('Enter your message here (type letter "a" at least one time.): ')

string1.replace('a',  'A')

Enter your message here (type letter "a" at least one time.):  dadada

'dAdAdA'

In [39]:
# 36
string1 = input('Enter your message here (type letter "a" at least one time.): ')

string2 = string1.replace('a', 'A')
print(string2)

Enter your message here (type letter "a" at least one time.):  aaaa

AAAA

In [40]:
# 37
string3 = input('Enter your message here (type letter "a" at least one time.): ')
string3.split(' ')

Enter your message here (type letter "a" at least one time.):  adada

['adada']

In [41]:
# 38 
sentence = input() 
c = input()

list_of_word = sentence.split(c)
print(list_of_word)

 catco
 cacac

['catco']

In [42]:
# 39
str1 = input()
str2 = input()

print(str1 + str2)

 s
 a

sa

# List--------------------------------------------------------------

In [43]:
# 40
list1 = [1, 2, 3, 'a', 'b', 'c']

print(list1)
print(type(list1))

[1, 2, 3, 'a', 'b', 'c']
<class 'list'>

In [44]:
# 41
list1 = [0, 1, 2, 'a', 'b', 'c']

print(list1[2])

2

In [45]:
# 42
list1 = [0, 1, 2, 'a', 'b', 'c']

print(list1[-3])

a

In [46]:
# 43 
list1 = [0, 1, 2, 'a', 'b', 'c']

print(list1[0])

0

In [47]:
# 44 
list1 = [0, 1, 2, 'a', 'b', 'c']

print(list1[4])

b

In [48]:
# 45 
list1 = [0, 1, 2, 'a', 'b', 'c']

print(list1[2:4])

[2, 'a']

In [49]:
# 46 
list1 = [0, 1, 2, 'a', 'b', 'c']

print(list1[1:-1])

[1, 2, 'a', 'b']

In [50]:
# 47
list1 = [0, 1, 2, 'a', 'b', 'c']

print(list1[1:5])

[1, 2, 'a', 'b']

In [51]:
# 48
list1 = [0, 1, 2, 'a', 'b', 'c']

print(list1[3:])

['a', 'b', 'c']

In [52]:
# 49 
list1 = [0, 1, 2, 'a', 'b', 'c']

print(list1[:3])

[0, 1, 2]

In [53]:
# 50 
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']

list2[3] = 'duck'
print(list2)

['ant', 'bird', 'cat', 'duck', 'eagle']

In [54]:
# 51 
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']

list2[0] = 'ape'
print(list2)

['ape', 'bird', 'cat', 'dog', 'eagle']

In [55]:
# 52 
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']

list2.append('fish')
list2

['ant', 'bird', 'cat', 'dog', 'eagle', 'fish']

In [56]:
# 53 
list = []

str1 = int(input())
list.append(str1)
str2 = int(input())
list.append(str2)
str3 = int(input())
list.append(str3)

list

 12
 12
 12

[12, 12, 12]

In [57]:
# 54 
list3 = ['apple', 'cherry', 'eggfruit']

list3.insert(1, 'nana')
list3

['apple', 'nana', 'cherry', 'eggfruit']

In [58]:
# 55
list3 = ['apple', 'banana', 'cherry', 'eggfruit']

list3.insert(-1, 'kiwi')
list3

['apple', 'banana', 'cherry', 'kiwi', 'eggfruit']

In [59]:
# 56 
list4 = [0, 4, 2, 3, 1]

list4.sort()
print(list4)

[0, 1, 2, 3, 4]

In [60]:
# 57 
list4 = [0, 4, 2, 3, 1]

list4.sort(reverse=True)
print(list4)

[4, 3, 2, 1, 0]

In [61]:
# 58 
list4 = [0, 4, 2, 3, 1]

sorted_list4 = sorted(list4) # sorted() sorted list and stored in new variable while keep original list remain.
print(sorted_list4)

[0, 1, 2, 3, 4]

In [62]:
# 59
list4 = [0, 4, 2, 3, 1]

sorted_list4 = sorted(list4, reverse=True)
print(sorted_list4)

[4, 3, 2, 1, 0]

In [63]:
# 60
list5 = ['d', 'a', 'c', 'b', 'e']

list5.sort()
print(list5)

['a', 'b', 'c', 'd', 'e']

In [64]:
# 61
list5 = ['d', 'a', 'c', 'b', 'e']

sorted_list5 = sorted(list5, reverse=True)
print(sorted_list5)

['e', 'd', 'c', 'b', 'a']

In [65]:
# 62 
list1 = ['a', 'b', 'c']
list2 = [0, 1, 2]

list1.extend(list2)
print(list1)
print(list2)

['a', 'b', 'c', 0, 1, 2]
[0, 1, 2]

In [66]:
# 63 
list1 = ['a', 'b', 'c']
list2 = [0, 1, 2]
list3 = list1 + list2

print(list1)
print(list2)
print(list3)

['a', 'b', 'c']
[0, 1, 2]
['a', 'b', 'c', 0, 1, 2]

In [67]:
# 64
list1 = [1, 2, 3, 1, 2, 3]

del list1[1]
print(list1)

[1, 3, 1, 2, 3]

In [68]:
# 65
# Normal way.
list1 = [1, 2, 3, 1, 2, 3]

del list1[-1]
del list1[2]

print(list1)

[1, 2, 1, 2]

# 65 
# use loop--------------------
'''
list1 = [1, 2, 3, 1, 2, 3]

if 3 in list1:
    for i in range(0, 5):
        if list1[i] == 3:
            del list1[i]

print(list1)
'''
>>> [1, 2, 1, 2]

In [69]:
# 66 
list1 = [1, 2, 3, 1, 2, 3]

list1.remove(1) # remove() only delete 1 once if you want to delete all 1s in your list use loop.

list1

[2, 3, 1, 2, 3]

In [70]:
# 67
list1 = [1, 2, 3, 1, 2, 3]

list1.remove(1)
list1.remove(1)

list1

[2, 3, 2, 3]

In [71]:
# 68
list1 = [1, 2, 3, 1, 2, 3]

list1.clear()
list1

[]

In [72]:
# 69
list1 = [1, 2, 3, 'a', 'b', 'c']

print(len(list1))

6

In [73]:
# 70
list1 = [1, 2, 3, 4, 5]
numeric1 = int(input())

bool1 = numeric1 in list1
print(bool1)

 2

True

# Tuple

In [74]:
# 71
countries = ('america', 'brazil', 'china', 'dominican', 'egypt')

for country in countries:
    print('\n' + country.title())
    print(type(country))
print('------------------------')
print('countries type is:', type(countries))

America
<class 'str'>

Brazil
<class 'str'>

China
<class 'str'>

Dominican
<class 'str'>

Egypt
<class 'str'>
------------------------
countries type is: <class 'tuple'>

In [75]:
# 72
countries = ('america', 'brazil', 'china', 'dominican', 'egypt')

print(countries[1])

brazil

In [76]:
# 73 
tuple1 = ('america', 'brazil', 'china', 'dominican', 'egypt')

print(tuple1[-2])

dominican

In [77]:
# 74
tuple1 = ('america', 'brazil', 'china', 'dominican', 'egypt')

print(tuple1[2])

china

In [78]:
# 75 
tuple1 = ('america', 'brazil', 'china', 'dominican', 'egypt')

print(tuple1[-1])

egypt

In [79]:
# 76
tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[1:4])

('two', 'three', 1)

In [80]:
# 77
tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[2:-1])

('three', 1, 2)

In [81]:
# 78
tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[2:4])

('three', 1)

In [82]:
# 79 
tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[:3])

('one', 'two', 'three')

In [83]:
# 80
tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[3:])

(1, 2, 3)

In [84]:
# 81
tuple3 = ('one', 'two', 'three', 'four', 'five')

print(len(tuple3))

5

In [85]:
# 82
tuple3 = ('one', 'two', 'three', 'four', 'five')
str1 = input()

bool1 = str1 in tuple3 
print(bool1)

 one

True

# Dictionary

In [86]:
# 83
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
}

print(dict1)
print(type(dict1))

{'first_name': 'John', 'last_name': 'Doe'}
<class 'dict'>

In [87]:
# 84 
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
}

print(dict1['first_name'])

John

In [88]:
# 85
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
}

print(dict1['last_name'])

Doe

In [89]:
# 86
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
}

print(dict1.keys())

dict_keys(['first_name', 'last_name'])

In [90]:
# 87 
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
}

print(dict1.values())

dict_values(['John', 'Doe'])

In [91]:
# 88
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
}

dict1['first_name'] = 'Jane'

print(dict1)

{'first_name': 'Jane', 'last_name': 'Doe'}

In [92]:
# 89 
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
}

dict1['age'] = 32
print(dict1)

{'first_name': 'John', 'last_name': 'Doe', 'age': 32}

In [93]:
# 90
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
}

dict1['age'] = 32
dict1['hobby'] = ['coding', 'studying']

print(dict1)

{'first_name': 'John', 'last_name': 'Doe', 'age': 32, 'hobby': ['coding', 'studying']}

In [94]:
# 91
dict1 = {}
str1 = input()
str2 = input()

dict1[str1] = str2

print(dict1)

 1212
 2323

{'1212': '2323'}

In [95]:
# 92
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 32
}

del dict1['age']

print(dict1)

{'first_name': 'John', 'last_name': 'Doe'}

In [96]:
# 93 
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 32,
}

dict1.clear()

print(dict1)

{}

In [97]:
# 94
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 32,
}

print(len(dict1.keys()))

3

In [98]:
# 95
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 32,
}

str1 = input('Enter your word (eng_alphabet): ')

word_check = str1 in dict1.keys()
print(word_check)

Enter your word (eng_alphabet):  as

False

In [99]:
# 96
dict1 = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 32,
}

str1 = input('Enter your word (eng_alphabet): ')


word_check = str1 in dict1.values()
print(word_check)

Enter your word (eng_alphabet):  asc

False

In [100]:
# 97 
set1 = {1, 2, 3, 'i', 'ii', 'iii'}

print(set1)
print(type(set1))

{1, 2, 3, 'ii', 'iii', 'i'}
<class 'set'>

In [101]:
# 98
set1 = {1, 2, 3, 'i', 'ii', 'iii'}

# If you want to read member in side set you have to loop through entire set.
for member in set1:
    print(member)
# note: set doesn't sorted your data when it stored in set.

1
2
3
ii
iii
i

In [102]:
# 99
set1 = {1, 2, 3, 'i', 'ii', 'iii'}

set1.add('iv')
print(set1)

{1, 2, 3, 'ii', 'iv', 'iii', 'i'}

In [103]:
# 100
set1 = {1, 2, 3, 'i', 'ii', 'iii'}

set1.add(1)
print(set1)

{1, 2, 3, 'ii', 'iii', 'i'}

In [104]:
# 101
empty_set = set()
srt1 = input()
str2 = input()
str3 = input()

empty_set.add(str1)
empty_set.add(str2)
empty_set.add(str3)
print(empty_set)

 asd
 asd
 asd

{'asd', 'asc'}

In [105]:
# 102
alphabets = set()
str1 = input()
str2 = input()
str3 = input()

alphabets.update(str1, str2, str3)
print(alphabets)

 asd
 asd
 asd

{'a', 's', 'd'}

In [107]:
# 103
set1 = {1, 2, 3, 'i', 'ii', 'iii'}

set1.remove(1)
print(set1)

{2, 3, 'ii', 'iii', 'i'}

In [108]:
# 104 
set1 = {1, 2, 3, 'i', 'ii', 'iii'}

print(len(set1))

6

In [111]:
# 105
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
number1 = int(input())

check = number1 in set1
print(check)

 'i'

ValueError: invalid literal for int() with base 10: "'i'"

In [112]:
# 106
set1 = {1, 2, 3, 4, 5} 
set2 = {3, 4, 5, 6}

set1 | set2

{1, 2, 3, 4, 5, 6}

In [113]:
# 107
set1 = {1, 2, 3, 4, 5} 
set2 = {3, 4, 5, 6}
set1 & set2

{3, 4, 5}

In [114]:
# 108
set1 = {1, 2, 3, 4, 5} 
set2 = {3, 4, 5, 6}

set1 - set2

{1, 2}

In [115]:
# 109
set1 = {1, 2, 3, 4, 5} 
set2 = {3, 4, 5, 6}

set2 - set1

{6}

In [116]:
# 110
set1 = {1, 2, 3, 4, 5} 
set2 = {3, 4, 5, 6}

set1 ^ set2

{1, 2, 6}